<div class="container">
  <div class="row">
    <%= render 'user_info', book: @book, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
            <%= link_to book_path(@bookshow.id) do %>
              <%= @bookshow.title %>
            <% end %>
            </td>
            <td>
              <%= @bookshow.body %>
            </td>
            <td>
              <% if @user.id == current_user.id %>
                <%= link_to edit_book_path(@bookshow.id), class: 'btn btn-sm btn-success' do %>
                  Edit
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @user.id == current_user.id %>
                <%= link_to book_path(@bookshow.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' do %>
                  Destroy
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>